body{
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    background-image: url(../img/pattern/sand1.jpeg);
    background-repeat: repeat;    
}

/*NAV*/

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    width:100%;
    color: #E4650E;
    border-bottom: 3px solid silver;
}

header img{
    height: 2.5rem;
}

#movilMenu{
    display: none;
    background-color: black;
    position: absolute;
    width: 100%;
    top: 50px;
}

#movilMenu .formulario{
    width: 90%;
    margin: auto;
}

#movilHead{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
}

#menuTab{
    grid-column: 1;
    padding-left: .8rem;
}

#menuTab i{    
    font-size: 1.4rem;
}

#imgGrid{
    grid-column: 3/6; 
}

#imgGrid img{
    width: 100%;
    height: 2rem;
}

#menuTab:hover{
    color: silver;
    transition: .3s;
}

#movilHead{
    display: none;
}

#movilMenu nav ul{
    width: 195%;
    padding: 0px;
}

#movilMenu nav ul a,i{
    font-size: 1rem;
}

#movilMenu nav ul a{
    padding-right: .3rem;
}

.enlaces{
    width: 50%;
}

.enlaces ul{   
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
nav a{
    text-decoration: none;
    font-weight: bold;
    color: #E4650E;
    font-size: 1.3rem;
}

nav a:hover{
    color: silver;
    transition: 0.3s;
}

nav i{
    margin-right: .5rem;
    font-size: 1.5rem;
}

header nav,img{
    margin: 0.3rem;
}

#user{
    margin-left: 2.28rem;
}
.formulario{
    margin: 0.2rem;
    border: 1px solid silver;
    padding: 0.5rem;
}

.formulario button{
    font-family: inherit;
    width: 100%;
    background-color: #1A1919;
    color: #E4650E;
    font-weight: bolder;
    border: 1px solid silver;
    margin-top: 0.5rem;
}

.formulario button:hover{
    background-color: black;
    color: silver;
    transition: 0.3s;
}

.formulario input{
    font-family: inherit;
    border: none;
    border-bottom: 2px solid silver;
    background-color: black;
    color: #E4650E;
}

/*MAIN Y SECTION*/

h2{
    text-align: center;
    padding: 1rem;
    color: silver;
}

main{
    margin-top: 10rem;
}

section{
    width: 80%;
    margin: auto;   
    margin-bottom: 5rem; 
    margin-top: 2rem; 
    padding: 0.8rem;
    background-color: black;
    border-radius: 7px;
    border: 2px solid silver;
}

/*Informacion General*/

#info{
    color: #E4650E; 
}

#info figure{
    float: right;
    border: 2px solid silver;
    padding: .5rem;
}

#info figcaption{
    text-align: center;
    color: silver;
    margin-top: 0.3rem;
}

#info summary{
    color: silver;
}

#paul_min{
    height: 33vh;
}

#gusano_min{
    height: 20vh;
}

h4{
    display: inline-block;
    padding: 0.3rem;
    border: 1px solid silver;
}

/*GALERIAS*/


#galeria_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    width: 100%; 
    align-items: center; 
}

#galeria_div figure{
    width: 16.65%;    
    min-width: 250px; 
    margin: 0px;
    box-sizing: border-box;
}

#galeria_div img{
    width: 100%;   
    height: 17vh; 
    object-fit:cover;  
    display: block;
    margin: 0px;
}

#galeria_div figcaption{
    text-align: center;
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    color: #E4650E;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0.2rem;
    border: 1px solid silver;
}



/*Tabla*/

#tablas{
    margin-top: 2rem; 
}

#movilTable{
    display: none;
}

table{
    display: block;
    border-collapse: collapse;
    overflow-x: auto;
}

th,td{
    width: 16.5%;
    text-align: center;
    border: 2px solid silver;
    min-width: 220px;
}

th{
    background-color: black;
    color: lightyellow;
    padding: 0.5rem 0px;    
}

td{
    font-weight: bolder;
}

tbody>tr:nth-child(2n){
    background-color: cadetblue;
}

tbody>tr:nth-child(2n+1){
    background-color: lightcoral;
}

td:not(.foto_tabla){
    padding: 0.4rem;
}

#tablas img{
    width: 100%;
    display: block;
    margin: 0px;
    object-fit: cover;    
}

@media (min-width: 700px) and (max-width: 1300px){
    section{
        width: 92%;
    }

    figure img{
        width: 98%;
    }

    figure{
        width: 50%;
    }

    main{
        margin-top: 13rem;
    }
}

@media (max-width:700px){
    section{
        width: 92%;
    }

    #webHead{
        display: none;
    }

    #movilHead{
        display: grid;
    }

    figure img{
        width: 96%;
    }

    figure{
        width: 33%;
    }

    main{
        margin-top: 5rem;
    }

    #movilTable{
        display: block;
    }

    #webTable{
        display: none;
    }
}